<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened> -->
<nav class="navbar">
  <div class="first-row">
    <!-- Logo and Site Name -->
    <div class="navbar-brand">
      <img src="assets/Logo.png" alt="Logo" class="logo" />
      <span>TeachGenie</span>
    </div>

    <span class="navbar-spacer"></span>

    <!-- Hamburger Menu Button -->
    <button class="hamburger" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <!-- Navigation Links -->
  <ul [class.hidden]="isMenuOpen">
    <li>
      <a routerLink="/home" routerLinkActive="active-link">
        <div class="menu-item">
          <mat-icon
            aria-hidden="false"
            aria-label="Home icon"
            fontIcon="home"
          ></mat-icon>
          <span>Home</span>
        </div>
      </a>
    </li>
    <li>
      <a routerLink="/test-creator" routerLinkActive="active-link">
        <div class="menu-item">
          <mat-icon
            aria-hidden="false"
            aria-label="Test creator icon"
            fontIcon="quiz"
          ></mat-icon>
          <span>Test Creator</span>
        </div>
      </a>
    </li>
    <div class="profile" *ngIf="user">
      <img [src]="user.photoUrl" alt="Profile picture" />
      <span>{{ user.name }}</span>
    </div>
  </ul>
</nav>

<div class="content">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
