<mat-card *ngIf="!testActive && !testComplete">
  <h2>Create Test</h2>
  <form [formGroup]="testForm">
    <mat-form-field appearance="fill">
      <mat-label>Topic</mat-label>
      <input matInput formControlName="topic" />
    </mat-form-field>

    <!-- Pass the FormGroup to the child component -->
    <app-form-options
      [parentFormGroup]="testForm"
      [showQuestionTypes]="true"
    ></app-form-options>

    <div class="buttons">
      <button id="button-space" mat-raised-button color="primary" type="button" (click)="generateTest()">
        Generate Test
      </button>
      <button mat-raised-button color="primary" type="button" (click)="beginTest()">
        Take Test
      </button>
    </div>
  </form>
  <mat-card id="test" *ngIf="testActive">
    <h1>{{ testName }}</h1>
    <app-active-test
      [questions]="questions"
      (taskCompleted)="finishTest()"
    ></app-active-test>
  </mat-card>
  <div *ngIf="loading" class="loading-container">
    <mat-spinner></mat-spinner>
    <p>Generating test, please wait...</p>
  </div>

  <div *ngIf="!loading && test" id="test-content">
    <div
      [innerHTML]="test"
      #dataToExport
      contenteditable="true"
      (input)="onContentChange($event)"
    ></div>
    <div *ngIf="test">
      <!-- [contentToPrint]="testString" was below -->
      <app-print-button
        [enablePdf]="true"
        [enableTextFile]="false"
        [enableClipboard]="true"
        [textElement]="dataToExport"
      >
      </app-print-button>
      <button
        *ngIf="editTest"
        mat-raised-button
        color="primary"
        (click)="saveTest()"
        class="mx-2"
      >
        Save Edits to Test
        <mat-icon
          aria-hidden="false"
          aria-label="Save icon"
          fontIcon="save"
        ></mat-icon>
      </button>
    </div>
  </div>
</mat-card>
