mat-card {
  margin: 20px;
  padding: 20px;
}

h2 {
  color: #3f51b5;
}

.mx-2 {
  margin: 10px;
}

.dimmed {
  opacity: 0.5; /* Make it look faded */
  pointer-events: auto; /* Keep it clickable */
  transition: opacity 0.3s ease-in-out;
}
