<mat-card>
  <h2>Analyze gap results</h2>
  <div *ngIf="!selectedFile">Upload PDF</div>
  <div *ngIf="selectedFile">{{ selectedFile.name }}</div>
  <input type="file" (change)="onFileSelected($event)" />
  <button
    *ngIf="selectedFile"
    mat-raised-button
    color="primary"
    (click)="createGapAssessment()"
  >
    Analyze file and generate gap assessment
  </button>
</mat-card>
<mat-card>
  <h2>Create Test</h2>
  <form [formGroup]="gapTestForm" (ngSubmit)="createGapTest()">
    <app-form-options
    [parentFormGroup]="gapTestForm"
    [showNumberOfQuestions]="false"
    [showCommonCoreStandards]="false"
    [showSkills]="false"
    [showQuestionTypes]="false"
    ></app-form-options>
    <button mat-raised-button color=“primary” type=“submit”>Begin</button>
  </form>
  <!-- Add loading mat spinner logic here-->
  <!--Add save activities button here-->
</mat-card>