<mat-card *ngIf="!testActive">
  <h2>Analyze gap results</h2>
  <div *ngIf="!selectedFile">Upload PDF</div>
  <div *ngIf="selectedFile">{{ selectedFile.name }}</div>
  <input type="file" (change)="onFileSelected($event)" />
  <button
    *ngIf="selectedFile"
    mat-raised-button
    color="primary"
    (click)="createGapAssessment()"
  >
    Analyze file and generate gap assessment
  </button>
</mat-card>
<mat-card *ngIf="!testActive">
  <h2>Create Test</h2>
  <form [formGroup]="gapTestForm" (ngSubmit)="beginTest()">
    <mat-form-field appearance="fill">
      <mat-label>Topic</mat-label>
      <input matInput formControlName="topic" />
    </mat-form-field>
    <app-form-options
    [parentFormGroup]="gapTestForm"
    [showQuestionTypes]="true"
    ></app-form-options>
    <button mat-raised-button color=“primary” type=“submit”>Begin Test</button>
  </form>
  <!-- Add loading mat spinner logic here-->
  <!--Add save activities button here-->
</mat-card>
<mat-card id="test"*ngIf="testActive">
  <h1> {{gapTestName}} </h1>
  <app-active-test></app-active-test>
</mat-card>